*{
  margin: 0;
  padding: 0;
}
li{
  list-style-type:none ;
}
header{
  background-color: cadetblue;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1{
  text-align: center;
  color: white;
  padding-bottom: 70px;
}
.header-ul{
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-ul li{
  padding:30px ;
}

.header-ul li a{
  color:white;
  text-decoration:none;
  padding-bottom: 10px;
}
main{
  background-color: lightgray;
  height: 70vh;
  display: flex;
  justify-content: center;
}
.main-container{
  margin-top:15px;
  border-radius: 10px;
  background-color: white;
  width: 40%;
  max-height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px 0px;
}

#add-button{
  margin-top:80px;
  padding: 5px;
  font-weight: bold;
  margin-bottom: 10px;
}
#task-list{
  width: 100%;
}
.list-li{
  padding: 5px 10px;
  margin: 15px;
  border-bottom: 1px solid gray;
  
}
.btn-delete{
 float: right;
}
